ul{
    display: flex;
    flex-direction: column; /*row || column ||  row-reverse || column-reverse */
    flex-wrap: wrap;
    max-height: 500px;
}

li {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    margin: 8px;
    text-align: center;
}



/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-item{

    display: flex;
    flex-wrap: wrap;

}

.item{
    margin: 10px;
} */